body {
  margin: 0;
}

.wrapper {
  margin: 0 201px 0 197px;
}

.header__logo, .header__menu {
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: 700 24px/31px pt_serifbold;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8D8FB;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.menu {
  display: flex;
  align-items: center;
  padding: 14нpx 0 0 0px;

}

.menu__item {
  margin-right: 27px;
  position: relative;
  font: 500 18px/21px roboto;
  color: #000;
  text-decoration: none;
  transition: opacity .3s;
}

.menu__item:hover {
  opacity: .5;
  cursor: pointer;
}

.menu__item:hover:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #0056EC;
  left: 0;
}

.menu__item:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #0056EC;
  left: 0;
  opacity: 0;
  transition: opacity .3s;
}

.menu__item:hover:after, .header__menu_item_active:after {
  opacity: 1;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_active::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #0056EC;
  left: 0;
}

.main {
  padding: 207px 63% 300px 0;
  height: 363px;
  background: top 130px right no-repeat url("Img/Group.svg");
}

.main__title {
  font: 1000 67px/87px pt_serifbold;
  letter-spacing: -1px;
  margin: 0 0 38px 0;
}

.main__title_text-highlight {
  background: #ECF3FF;
}

.main__subtitle {
  font: 22px/26px roboto;
  width: 80%;
  margin-bottom: 44px;
}

.main__button {
  display: inline-block;
  font: lighter 18px/21px roboto;
  padding: 18px 26px;
  text-decoration: none;
  background: #0056EC;
  color: #fff;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .wrapper {
    width: 86.5%;
    margin: auto;
  }
  .header {
    margin-bottom: 36px;
  }

  .logo {
    padding: 25px 0px;
  }

  .logo__text {
    display: none;
  }

  .logo__circle_color_dark-blue {
    left: 0;
    top: 74%;;
  }

  .logo__circle_color_blue {
    left: 8px;
    top: 89%;;
  }

  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 87%;
    background-position: top center;
  }

  .main__title {
    margin-bottom: 33px;
    padding-top: 23px;
    font: bold 30px/39px pt_serifbold;
    letter-spacing: 0.1px;
  }

  .main__subtitle {
    margin: 0 0 25px 36px;
    font: 16px/19px Roboto;
    letter-spacing: 0.1px;
    width: 80%;
  }

  .main__button {
    font: 500 14px/16px Roboto;
    padding: 16px 21px;
  }
