body {
  margin: 0;
}

.wrapper {
  width: 75.5%;
  margin: auto;
}

.header__logo, .header__menu {
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: 700 24px/31px pt_serifbold;
}
.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8D8FB;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu_item {
  margin-right: 26px;
  position: relative;
  font: 500 18px/21px roboto;
  color: #000;
  text-decoration: none;
  transition: opacity .3s;
}

.header__menu_item:hover {
  opacity: .5;
  cursor: pointer;
}

.header__menu_item:hover:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #0056EC;
  left: 0;
}

.header__menu_item:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #0056EC;
  left: 0;
  opacity: 0;
  transition: opacity .3s;
}

.header__menu_item:hover:after, .header__menu_item_active:after {
  opacity: 1;
}

.header__menu_item:last-child {
  margin-right: 0;
}

.header__menu_item_active::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #0056EC;
  left: 0;
}

.main {
  padding: 207px 63% 300px 0;
  height: 363px;
  background: top 130px right no-repeat url("Img/Group.svg");
}

.main__title {
  font: 1000 67px/87px pt_serifbold;
  margin: 0 0 38px 0;
}

.main__title_text-highlight {
  background: #ECF3FF;
}

.main__content {
  font: 200 22px/26px roboto;
  margin: 0 0 41px 0;
  width: 80%;
}

.main__button {
  display: inline-block;
  font: lighter 18px/21px roboto;
  padding: 18px 26px;
  text-decoration: none;
  background: #0056EC;
  color: #fff;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}
